<div class="container" *ngIf="!exibirTabela">
  <form [formGroup]="formulario" (ngSubmit)="enviar()">
    <h1> Cadastre-se </h1>

    <label>Nome:</label>
    <input type="text" formControlName="nome" />
    <div *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched">
      <small *ngIf="formulario.get('nome')?.errors?.['required']">Campo obrigatório.</small>
      <small *ngIf="formulario.get('nome')?.errors?.['maxlength']">Máximo 150 caracteres.</small>
      <small *ngIf="formulario.get('nome')?.errors?.['pattern']">Apenas letras são permitidas.</small>
    </div>

    <label>Email:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
      <small *ngIf="formulario.get('email')?.errors?.['required']">Campo obrigatório.</small>
      <small *ngIf="formulario.get('email')?.errors?.['email']">Email inválido.</small>
    </div>

    <label>CPF:</label>
    <input type="text" formControlName="cpf" [mask]="'000.000.000-00'" />
    <div *ngIf="formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched">
      <small *ngIf="formulario.get('cpf')?.errors?.['required']">Campo obrigatório.</small>
      <small *ngIf="formulario.get('cpf')?.errors?.['pattern']">Formato inválido. Use 000.000.000-00.</small>
    </div>

    <label>Data de Nascimento:</label>
    <input type="date" formControlName="dataNascimento" />
    <div *ngIf="formulario.get('dataNascimento')?.invalid && formulario.get('dataNascimento')?.touched">
      <small *ngIf="formulario.get('dataNascimento')?.errors?.['required']">Campo obrigatório.</small>
    </div>

    <label>CEP:</label>
    <input type="text" formControlName="cep" [mask]="'00000-000'" />
    <div *ngIf="formulario.get('cep')?.invalid && formulario.get('cep')?.touched">
      <small *ngIf="formulario.get('cep')?.errors?.['required']">Campo obrigatório.</small>
      <small *ngIf="formulario.get('cep')?.errors?.['pattern']">Formato inválido. Use 00000-000.</small>
    </div>

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>
  </form>
</div>

<!-- Exibir os dados em uma tabela -->
<div *ngIf="exibirTabela" class="tabela-container">
<table *ngIf="dadosUsuario">
  <thead>
    <tr>
      <th>Campo</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nome</td>
      <td>{{ dadosUsuario.nome }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ dadosUsuario.email }}</td>
    </tr>
    <tr>
      <td>Idade</td>
      <td>{{ idade }} anos</td>  <!-- Exibe a idade calculada -->
    </tr>
    <tr>
      <td>CPF</td>
      <td>{{ dadosUsuario.cpf }}</td>
    </tr>
    <tr>
      <td>Data de Nascimento</td>
      <td>{{ dadosUsuario.dataNascimento }}</td>
    </tr>
    <tr>
      <td>CEP</td>
      <td>{{ dadosUsuario.cep }}</td>
    </tr>
    <tr>
      <td>Endereço</td>
      <td>{{ endereco?.logradouro }}</td>
    </tr>
    <tr>
      <td>Bairro</td>
      <td>{{ endereco?.bairro }}</td>
    </tr>
    <tr>
      <td>Cidade</td>
      <td>{{ endereco?.localidade }}</td>
    </tr>
    <tr>
      <td>Estado</td>
      <td>{{ endereco?.uf }}</td>
    </tr>
  </tbody>
</table>
</div>